* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.color {
    color: hsl(238, 29%, 16%);
    color: hsl(14, 88%, 65%);
    color: hsl(273, 75%, 66%);
    color: hsl(240, 73%, 65%);
    color: hsl(237, 12%, 33%);
    color: hsl(240, 6%, 50%);
    color: hsl(240, 5%, 91%);
} 

body {
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(273, 75%, 66%);
    height: 100vh;
    width: 100vw;
}

.card {
    /* margin: 2rem; */
    background-color: white;
    box-shadow: 10px 10px 20px 3px hsl(240, 73%, 65%);
    width: 920px;
    height: 509px;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 6rem;

    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: 1260% 75%;
}

.image {
    position: relative;
    margin: 2rem 0;
    top: 35%;
    left: -30%;
}
.woman {
    background-image: url(./images/illustration-woman-online-desktop.svg);
    background-repeat: no-repeat;
    height: 100%;
    background-position: 120% center;
}


.title {
    margin-bottom: 1.2rem;
}

.content {
    padding: 1rem ;
    padding-right: 6rem;
    margin: 4rem 0;

}

.desc {
    color: hsl(240, 6%, 50%);
    /* margin-bottom: .3rem; */
    padding: 1.1rem 0;

    border-bottom: 1px solid;
}

.desc h4 {
    display: flex;
    justify-content: space-between;
}

.desc h4 img {
    align-self: center;
}

.desc p {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.desc.active h4 {
    font-weight: bold;
    color: hsl(238, 29%, 16%);
}
.desc.active p {
    max-height: 300px;
}

.desc.active .dropIcon {
    transform: rotate(180deg);
}

.dropIcon {
    transition: transform 0.5s ease-in;
}

.desc h4:hover {
    cursor: pointer;
    color: hsl(14, 88%, 65%);
}

.attribution { 
    font-size: 11px; text-align: center; 
    color: hsl(0, 0%, 100%);font-size: large;
    margin-top: 50px;
}
.attribution a { 
    color: hsl(240, 5%, 91%);
    text-decoration: none; 
}



@media only screen and(max-width = 375px) {
   
    .card {
        /* display: grid;
        grid-template-columns: 100px;
        grid-template-rows: 100px 100px; */
        background-color: black;
    }
    
}